<table>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>salary</th>
        </tr>
        <tr>
         <td><%= studentData.name %></td>
         <td><%= studentData.age %></td>
         <td><%= studentData.salary %></td>
         </tr>
         <tr>
            <td><%= studentData.name1 %></td>
            <td><%= studentData.age1 %></td>
            <td><%= studentData.salary1 %></td>
   </tr>
   <tr>
    <td><%= studentData.name2 %></td>
    <td><%= studentData.age2 %></td>
    <td><%= studentData.salary2 %></td>
    </tr>
</table>


        